/* @doc(group) { name: 'map', title: 'Map'} */


/* @doc(function) {
  description: 'Check if variable is map'
}
*/
@function adl-is-map($var){
  @return type-of($var) == 'map';
}

/* @doc(function) {} */
@function adl-get-map-keys($map){
  @if ($map == null) {
    @return null;
  }

  @if (type-of($map) != 'map') {
    @return null;
  }

  @return map-keys($map);
}


/* @doc(function) {
  description: 'Get items from map',
  return: 'map item value',
}
*/
@function adl-get-map-value($map, $key) {
  @if ($map == null) {
    @return null;
  }

  @if (type-of($map) != 'map') {
    @return null;
  }

  @if ($key == null) {
    @return null;
  }
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }
  @return null;
}

/* @doc(function) {
  description: 'Merge second map into the first map',
  return: 'new map which is result of the merge',
}
*/
@function adl-map-merge($map1, $map2) {
  @if (adl-is-map($map2) != true){
    @return $map1;
  }
  @if (adl-is-map($map1) != true){
    @return $map2;
  }
  @return map-merge($map1, $map2);
}
