//noinspection SassScssResolvedByNameOnly
@mixin adl-input-field {
  padding: 8px 16px;

  font-size: 16px;

  color: $adl-color--black;

  border: 1px solid $adl-color--grey-20;
  border-radius: 6px;
  resize: none;

  &:focus, &:active {
    border-color: $adl-color--blue-40;
  }

  &.adlm--full-width {
    width: 100%;
  }

  &.adls--read-only, &:read-only {
    background-color: $adl-color--background-read-only-input;
  }

  &:disabled {
    background-color: $unzer-color-disabled-grey;
    color: $unzer-color-grey;
  }

  &::placeholder {
    color: $adl-color--grey-50;
  }

  &::-ms-input-placeholder {
    color: $adl-color--grey-50;
  }

  &:-ms-input-placeholder {
    color: $adl-color--grey-50;
  }
}

//noinspection SassScssResolvedByNameOnly
@mixin input-password {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    @include adl-input-field;
    &{
      padding-right: 41px;
      width: 100%;
    }
  }

  span {
    cursor: pointer;
    position: absolute;
    right: 15px;
    height: 18px;

    &:before {
      @include adl-font-icon(eye);
    }

    &:hover:before {
      @include font-weight--semi-bold;
    }
  }
}

//noinspection SassScssResolvedByNameOnly
@mixin adl-radio-field {
  [type="radio"] {
    display: none;
  }

  [type="radio"] + span {
    position: relative;
    cursor: pointer;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    font-size: 15px;
    color: #757575;
  }

  [type="radio"] + span:before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }

  [type="radio"]:checked + span:before {
    background-color: #000000;
    border-color: transparent;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #000000;
  }
}

//noinspection SassScssResolvedByNameOnly
@mixin adl-toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .unzer-toggle-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $unzer-color-black;
    transition: .4s;
    border-radius: 24px;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 6px;
      top: 4px;
      background-color: $adl-color--white;
      transition: .4s;
      border-radius: 50%;
    }
  }

  input:checked + .unzer-toggle-round {
    background-color: $unzer-color-red;
  }

  input:focus + .unzer-toggle-round {
    box-shadow: 0 0 1px $unzer-color-red;
  }

  input:checked + .unzer-toggle-round:before {
    transform: translateX(17px);
  }
}
