//noinspection SassScssResolvedByNameOnly
body {
  color: $adl-color--black;
  background-color: $adl-color--grey-10;

  > * {
    //noinspection CssNoGenericFontName
    font-family: get-font-family(base);
    font-size: 16px;
    line-height: 1.4;
  }

  svg {
    width: auto;
    height: auto;
  }
}
