@mixin adl-money-input {
  display: flex;
  column-gap: 20px;

  @include adl-screen--narrow {
    flex-direction: column;
    row-gap: 10px;
  }

  .unzer-dropdown-button {
    span {
      @include adl-text-ellipsis(1);
    }
  }

  .adl-text-input {
    width: 100%;
  }

  .adl-single-select-dropdown {
    max-width: 300px;
    width: 100%;
  }
}