@mixin adl-money-input {
  display: flex;
  width: 100%;
  column-gap: 20px;
  position: relative;

  @include adl-screen--narrow {
    flex-direction: column;
    row-gap: 10px;
  }

  .unzer-dropdown-button {
    span {
      @include adl-text-ellipsis(1);
    }
  }
}

@mixin field-description{
    padding-top: 5px;
    font-size: 12px;
    color: $unzer-color-grey;
}

.surcharge-wrapper{
  @include adl-field-wrapper;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-items: center;

  .description{
    @include field-description;
    margin-right: auto;
  }
}



.input-wrapper, .dropdown-wrapper
{
  @include adl-field-wrapper;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-items: center;
}

.adl-text-input {
  position: relative;
}

.arrow-up, .arrow-down {
  background: none;
  border: none;
  position: absolute;
  color: $adl-color--grey-40;
  cursor: pointer;
  display: flex;
  right: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
}

.arrow-up{
  top: 7px;
  &::before {
    @include adl-font-icon(arrow-ios-down);
    transform: rotate(180deg);
    font-size: 12px;
  }
}
.arrow-down{
  top: 30px;
  &::after {
    @include adl-font-icon(arrow-ios-down);
    font-size: 12px;
  }
}