$assets: './assets' !default;

@import "library";
@import "components";
@import "../components/index";

@include config-font-faces();
@include adl-config-icon-font-faces();

.adl-button {
  @include adl-button;
}

.adl-single-select-dropdown {
  @include adl-dropdown;
}

.adl-multiselect-dropdown {
  @include adl-multiselect-dropdown;
}

.adl-text-input,
.adl-multiline-text-input {
  @include adl-input-field;
}

.adl-password {
  @include input-password;
}

.adl-radio-input {
  @include adl-radio-field;
}

.adl-radio-input-group {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  gap: 18px;
}

.adl-field-wrapper {
  .adl-radio-input-group {
  }
}

.adl-loader {
  @include adl-loader;
}

.adl-toggle {
  @include adl-toggle;
}

.adl-money-input {
  @include adl-money-input;
}

.adl-field-wrapper {
  @include adl-field-wrapper;
}

.adl-form-group {
  @include adl-form-group;
}

.adl-file-drop-zone {
  @include adl-file-drop-zone;
}

.adl-toaster {
  @include adl-toaster();
}

.adl-toaster-error{
  @include adl-toaster-error();
}

.adl-alert {
  @include adl-alert;
}

.adl-form-footer {
  @include adl-page-footer;
}

.adls--hidden {
  // the only place to have !important. This is so we don't need to repeat this class in each component that could have
  // the hidden state.
  display: none !important;
}


.adl-page-heading {
  @include adl-page-heading;
}

#adl-main-header {
  @include adl-page-header;
}

* + .unzer-flash-message-wrapper, .unzer-flash-message-wrapper + * {
  margin-top: 20px;
}